<div class="w3-sidebar w3-collapse" id="sidenav" style="top: 112px; display: none;">
  <div id="leftmenuinner" style="padding-top: 112px;">
    <div class="w3-light-grey" id="leftmenuinnerinner">
      <a href="javascript:void(0)" onclick="close_menu()" class="w3-button w3-hide-large w3-large w3-display-topright" style="right:16px;padding:3px 12px;font-weight:bold;">×</a>
<h2 class="left"><span class="left_h2">W3Schools</span> Quizzes</h2>
<a target="_top" href="quiztest.asp?Qtest=HTML">Quiz HTML</a>
<a target="_top" href="quiztest.asp?qtest=CSS">Quiz CSS</a>
<a target="_top" href="quiztest.asp?qtest=JavaScript">Quiz JavaScript</a>
<a target="_top" href="quiztest.asp?qtest=Bootstrap">Quiz Bootstrap</a>
<a target="_top" href="quiztest.asp?qtest=jQuery">Quiz jQuery</a>
<a target="_top" href="quiztest.asp?qtest=PHP">Quiz PHP</a>
<a target="_top" href="quiztest.asp?qtest=SQL" class="active">Quiz SQL</a>
<a target="_top" href="quiztest.asp?qtest=XML">Quiz XML</a>

      <br><br>
    </div>
  </div>
</div>
